absl-py==0.12.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
grpcio==1.36.1
gym==0.18.0
idna==2.10
importlib-metadata==3.10.0
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.4
MarkupSafe==1.1.1
numpy==1.20.2
parl==1.4.3
Pillow==7.2.0
protobuf==3.15.6
psutil==5.8.0
pyglet==1.5.0
pyzmq==18.1.1
requests==2.25.1
-e git+https://github.com/botclimber/ReverseX.git@533dd48a876cdb802c24c02fbed3720b91fcfedc#egg=RX_env&subdirectory=RX_env
scipy==1.6.2
six==1.15.0
tb-nightly==1.15.0a20190801
tensorboardX==1.8
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
zipp==3.4.1
